

body {background-color:bisque;}

.header {
    padding: 10px;
    border-bottom: lightslategray;
    border-bottom-style: solid;
}

p {padding:0pt;}

.contact{
    text-align: center;
    padding: 10px;
    margin-bottom: 50px;
    border-bottom: lightslategray;
    border-bottom-style: solid;
    color: #3d3d3d;
}

h1 {
    width: 500px;
    height: 50px;
    margin:auto;
    font-size: 3em;
    text-align: center;
}

img {border-radius: 50%;
    width: 20%; 
    height: 20%;
    margin: 0% 40% 0% 40%;}

#about {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-style: italic;
}

.column {
    float: left;
    width: 50%;
  }

.card {border-width: 10px;
    background-color: lightgray;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px; 
    padding-right: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;
    text-align: justify;
}

.card:after {
    content: "";
    display: table;
    clear: both;
  }

h2 {
    text-align: center;}

h3 {
    margin-bottom: 0pt;
    padding: 0pt;
}

h4 {
    margin-bottom: 0pt;
    margin-top: 5px;
}
